<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstraps and jquery cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <title>Forgot password</title>
</head>

<body>
    <div id="notification"></div>
    <form class="form-horizontal" style="margin:10px" >


        <!-- Form Name -->
        <legend>Forgot Password</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-5">
                <input id="email" name="email" type="text" placeholder="EMAIL" class="form-control input-md">

            </div>
        </div>

    </form>
    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="forgot-btn"></label>
        <div class="col-md-4">
            <button id="forgot-btn" name="forgot-btn" class="btn btn-primary">Submit</button>
        </div>
    </div>
<script>
    const forgot=document.getElementById('forgot-btn');
    
    // const user
    forgot.addEventListener('click',(e)=>{
        const email=document.querySelector('#email').value;
        console.log(email);
        // userDetails={
        //     email:email
        // }

        axios.post('http://localhost:8000/password/forgotpassword',{email})
            .then(response => {
                // console.log(response);
            if (response.data[0].statusCode == 202) {
                document.getElementById('notification').innerHTML += '<div style="color:red;">Mail Successfuly sent <div>'
            } else {
                throw new Error('Something went wrong!!!')
            }
        }).catch(err => {
            document.body.innerHTML += `<div style="color:red;">${err} <div>`;
        })

        document.querySelector('#email').value=''

    })
</script>
</body>


</html>